name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci:
    uses: mcarthey/shared-workflows/.github/workflows/dotnet-ci-reusable.yml@main
    with:
      solution-filter: "RepWizard.CI.slnf"
