name: Test Reusable

on:
  workflow_call:
    inputs:
      message:
        type: string
        default: "hello"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ inputs.message }}"
